<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<link rel="stylesheet" href="/public/css/chat.css">
<script src="/public/js/chat.js"></script>
<script src="/socket.io/socket.io.js"> </script>

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                
                <div id="whoOnline" class="mx-5 mt-3 mb-4 border border-white rounded-pill  d-flex justify-content-center text-capitalize"> 
                    <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                        class="rounded-circle user_img w-75 h-75 mt-2">
                                    
                                </div>
                    <!-- <span> <%=username %> is online</span> -->
                     </div>
               
                <div class="card-body contacts_body">
                    <ui id="contacts" class="contacts">
                        <% for(let i = 0 ; i< userList.length; i++){ %>
                        <% if(i == 0) { %>
                        <li id="contact-<%=userList[i].id%>" class="list-group-hover list-group-item-action active">
                            <% } else { %>
                        <li id="contact-<%=userList[i].id%>" class="list-group-hover list-group-item-action">
                            <% } %>
                            <div class="d-flex bd-highlight boxChat" user-id="<%= userList[i].id %>">
                                <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                        class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info" id="<%= userList[i].id%>">
                                    <span id="userBoxChat"><%= userList[i].username %></span>
                                    <p><%= userList[i].username %> is online</p>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ui>
                </div>

            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info" id="insertUserNameBoxChat">
                            <span>Chat with BKBot</span>
                        </div>

                    </div>
                </div>
                <div id="message-body" class="card-body msg_card_body">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            Hi, how are you <%=username %>?
                            <ul>
                                <li>A: Word Count In Your Text</li>
                                <li>B: Finding Word In Your Text</li>
                                <li>C: Changing A Word In Your Text</li>
                                <li>D: Encoding Text</li>
                                <li>E: Decoding Text</li>
                            </ul>
                            <span class="msg_time"><%= moment().format('hh:mmA') %>, Today</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input id="message-txt" class="form-control type_msg"
                            placeholder="Type your message..."></input>
                        <div class="input-group-append">
                            <span id="send-btn" class="input-group-text send_btn"><i
                                    class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let username = '<%- username %>';
    // let userList = <%- JSON.stringify(userList) %>;
    //        console.log(userList);  // successfully prints 101 on browser
</script>